# Ignore Jupyter Notebook temporary checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore virtual environment folders
.env/
.venv/
env/
venv/

# Ignore large data files
*.csv
*.tsv
*.xlsx

# Ignore compressed archives
*.zip
*.tar.gz
*.rar

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
